<div id="setting" class="setting">
    <span class="setting__heading">SETTING</span>
    <a><i class="fa fa-video-camera" aria-hidden="true"></i></a>
    <a><i class="fa fa-microphone" aria-hidden="true"></i></a>
</div>

<nav id="chat-tab">
    <h2>CHAT</h2>
    <ul class="chat-tab__items">
        <li class="chat-tab__item">
          <a (click)="show_main_chat()" 
              [ngClass]="{'is-active': displayed_chat_status=='main'}"
            class="chat-tab__anchor ">
            All
          </a>
        </li>

        <li class="chat-tab__item">
          <span *ngIf="is_in_team">
            <a (click)=" show_team_chat()"
                [ngClass]="{'is-active': displayed_chat_status=='team'}"
                class="chat-tab__anchor">
                Team {{own_team}}
            </a>
          </span>
        </li>
    </ul>

    <!--.is-activeをつけかえてください-->
    <div class="chat-tab__panel is-active">
      <span *ngIf="displayed_chat_status=='main'">
        <ul>
          <li *ngFor="let item of main_chat_item | async">
            <app-chat-each-message [chat_item]="item"></app-chat-each-message>
          </li>
        </ul>
      </span>


      <span *ngIf="displayed_chat_status=='team'">
        <ul>
          <li *ngFor="let item of team_chat_item | async">
            <app-chat-each-message [chat_item]="item"></app-chat-each-message>
          </li>
        </ul>
      </span>
    </div>
    <div class="chat__send">
      <textarea [(ngModel)]="chat_inpput_text" ></textarea>
      <button type="button" (click)="send_chat()">send</button>
    </div>
</nav>







<span *ngIf="is_in_team">
  <input type="button" (click)="show_team_chat()" value="chat within team member">
  <input type="button" (click)="show_main_chat()" value="chat with all attendance">
</span>