


<header id="mixidea_header">
<div class="header_container">


  <a href="index2.html" class="mixidea_logo">
    <img src="./assets/images/mixidea_logo_mini.png">
  </a>

  <nav class="mixidea_nav">

     <div class="header_left">
       <ul class="header_left_main_nav">
        <li>
          <a class="my_nav_link header_link_large" routerLink="/eventlist" routerLinkActive="active">Event List</a>
        </li>
        <li>
          <a class="my_nav_link header_link_large" routerLink="/articlelist" routerLinkActive="active">Article List</a>
        </li>
        <li>
          <a class="my_nav_link header_link_large" routerLink="#" routerLinkActive="active">My Page</a>
        </li>
       </ul>
     </div>


    <div class="header_right">
      <span *ngIf="own_user.loggedIn">
          <ul>

            <li class="user_menu">
              <a href="#">
                <img src="{{own_user.pict_src}}" alt="User Image">
                <span class="hidden-xs user_name">{{own_user.short_name}} </span>
              </a>
            </li>

            <li>
              <app-notification-header></app-notification-header>
            </li>

            <li>
              <app-message-header></app-message-header>
            </li>

          </ul>
      </span>

      <span *ngIf="!own_user.loggedIn">
        <div class="header_right_login" >
          <button (click)="show_login_modal()" class="btn btn-success">login</button>
        </div>
      </span>
    </div>
  </nav>

</div>
</header>

<div id="behind_header_blank"></div>

<div id="below_header_links">

  <div class="menu_icon">
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" onclick="open_mobile_navigation"></span>
    </button>
  </div>

  <div class="header_links">
    <ul>
    <li class="below_header_link" routerLink="/eventlist" routerLinkActive="active">Event</li>
    <li class="below_header_link" routerLink="/articlelist" routerLinkActive="active">Article</li>
    <li class="below_header_link" routerLink="#" routerLinkActive="active">My Page</li>
    </ul>
  </div>
</div>

<div id="mobile_left_menu"></div>