<p class="p-chat__sentense">
  <a class="p-chat__sentense-comment" (click)="open_sentence_comment()">
    <span *ngIf="comment_num">
      {{comment_num}}
    </span>
    <span *ngIf="!comment_num">
      +
    </span>
  </a>
  <span>{{content.content}}</span>
</p>


<!--
<div class="sentence_written">
  sentence-written num {{sentence_num}}

  <div (mouseenter)="content_mouseenter()" (mouseleave)="content_mouseleave()" >
    <div>{{content.content}}</div>
    <div *ngIf="show_balloon">
      <input type="button" value="balloon" (click)="open_sentence_comment()">
    </div>
    <span *ngIf="comment_num && comment_num>0">number of comment {{comment_num}}</span>
  </div>

  comment_sentence_written !!
  {{comment_sentence_written | json}}
</div>
-->