.user_full_parallel_container{
    background-color:gray;



    img {
        width:50px;
        height:50px;
        margin: -2px;
    };
    .name {
        font-weight: bold;
    };
}


.only_pict{
    img {
        width:30px;
        height:30px;
        margin: -2px;
    };
}