
<span [ngSwitch]="type">

  <span *ngSwitchCase="'full_parallel'">

    <div class="user_full_parallel_container">
      <div *ngIf="user" class="user_container">
        <img src={{user.pict_src}}>
        <span class="name">{{user.full_name}}</span>
      </div>
    </div>
  </span>

  <span *ngSwitchCase="'only_pict'">
    <div class="only_pict">
      <div *ngIf="user" class="user_container">
        <img src={{user.pict_src}}>
      </div>
    </div>
  </span>
 

  <span *ngSwitchCase="'only_short_name'">
    <div class="only_short_name">
      <div *ngIf="user" class="user_container">
        <span class="name">{{user.full_name}}</span>
      </div>
    </div>
  </span>

  <span *ngSwitchCase="'only_img'">
    <span *ngIf="user">
      <img class="p-debate-group__member-icon" src={{user.pict_src}}>
    </span>
  </span>

  <span *ngSwitchCase="'chat-debater'">
    <div class="p-chat-debater" *ngIf="user">
      <img class="p-chat-debater__icon" src={{user.pict_src}}>
      <span class="p-chat-debater__name">{{user.full_name}}</span>
    </div>
  </span>

  <span *ngSwitchCase="'sentence_commentor'">
    <span *ngIf="user">
      <img src={{user.pict_src}} alt="" class="c-comment__icon c-icon">
      <span class="c-comment__name">{{user.full_name}}</span>
    </span>
  </span>



</span>