.user_full_parallel_container{
    display: inline-block;
    width: 70px;
    text-align: center;
    margin-top: 7px;
    vertical-align: top;

    img {
        width:50px;
        height:50px;
    };
    .name {
        font-weight: bold;
    };
}


.only_pict{
    img {
        width:30px;
        height:30px;
        margin: -2px;
    };
}

.video_replacement{
    display: none;
    width: 150px;
    height: 150px;
    position: relative;

    img{
        width:150px;
        height:150px;
    }

    .c-comment__name {
        padding: 4px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        color: #FFF;
    }
}