<p>
  eventlist works!
</p>
1<br>
2<br>
3<br>
4<br>
5<br>
6<br>

<div *ngIf="(user_auth.own_user_subject$ | async).loggedIn">
  {{(user_auth.own_user_subject$ | async).full_name}}

</div>
<p>
  eventlist-layout works!   eventlist-layout works! eventlist-layout works! eventlist-layout works! eventlist-layout works! eventlist-layout works! eventlist-layout works! eventlist-layout works! eventlist-layout works! eventlist-layout works!
</p>
1<br>
2<br>
3<br>
4<br>
5<br>
6<br>1<br>
2<br>
3<br>
4<br>
5<br>
6<br>1<br>
2<br>
3<br>
4<br>
5<br>
6<br>1<br>
2<br>
3<br>
4<br>
5<br>
6<br>1<br>
2<br>
3<br>
4<br>
5<br>
6<br>1<br>
2<br>
3<br>
4<br>
5<br>
6<br>1<br>
2<br>
3<br>
4<br>
5<br>
6<br>



