<p>
  debate-layout works!
</p>
<br><br>
speech_status{{speech_status | json}}
<br><br>
poi_candidates_id_arr {{poi_candidates_id_arr | json}}
<br><br>
main_speaker {{main_speaker | json}}
<br><br>


<app-speaker-view
  [event_id]="event_id"
  [debate_status]="debate_status"
  [main_speaker_id]="main_speaker_id"
  [poi_speaker_id]="poi_speaker_id"
  [poi_candidates_id_arr]="poi_candidates_id_arr"
  [video_data]="video_data"
  [next_speaker_role_num]="next_speaker_role_num"
  [next_speaker_role_name]="next_speaker_role_name"
  [next_speaker_side]="next_speaker_side"
  [next_speaker_team]="next_speaker_team"
  [speech_start_button_value]="speech_start_button_value"></app-speaker-view>


<app-controller
  [event_id]="event_id"
  [debate_status]="debate_status"
  [deb_style]="deb_style"
  [next_speaker_role_num]="next_speaker_role_num"
  [next_speaker_role_name]="next_speaker_role_name"
  [next_speaker_side]="next_speaker_side"
  [next_speaker_team]="next_speaker_team"
  [speech_start_button_value]="speech_start_button_value">
</app-controller>

<app-role-status></app-role-status>



<app-team-member></app-team-member>

<input type="button" (click)="goto_reflection()" value="goto_reflection">