.video_user_container{
    position:relative;
    width:100px;
    height:120px;
}

.video_container{
    position:absolute;
    top: 3px;
    width:100px;
    height:100px;
    z-index:999;
    text-align:center;
}
.img_container{
    position:absolute;
    top: 0px;
    width:100px;
    height:120px;
    background-color:white;
    text-align:center;
    z-index:0;
} 