<div id="prep_team_panel">
  <app-prep-team-member
    [prep_team]="current_prep_team"
    [participants_team]="participants_team"
    [video_data]="video_data"
    [user_env]="user_env"
    [room_users]="room_users"
    ></app-prep-team-member>
  <div class="move-panel">
      <a href="">move to other room for observation</a>
  </div>
</div>

<aside id="prep_document">
    <div class="prep_document_panel">

      <div class="prep_document__team is-{{current_prep_team}}">
        {{current_prep_team}}
      </div>

      <div class="prep_document__timer">
        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;
        {{preparation_time}}
      </div>

    <app-motion [motion]="motion" [event_id]="event_id"></app-motion><br>


    <app-preparation-document
      [event_id]="event_id"
      [prep_team]="current_prep_team"
      [intro_doc]="intro_doc"
      [arg_obj]="arg_obj"></app-preparation-document>

      <br> <br> 
      this is a temporal button, switching to the debate phase will be done by timer.<br>
      <input type="button" (click)="start_debate()" value="start debate">
    </div>



</aside>



