<p>written
</p>

<span *ngFor="let content of content_arr_with_num">
  <app-sentence-written [content]="content"
                        [event_id]="event_id"
                        [argument_id]="argument_id"
                        [opinion_id]="opinion_id"
                        [comment_sentence_written]="comment_sentence_written[content.num]">
  </app-sentence-written>
</span>

<span *ngIf="content_arr_with_num.length > 0">
  <input type="button" (click)="update_written_opinion()" value="update writing" >
</span>
