<!--
<div class="test" [@test_animate_state]="is_open">
-->
<div class="test" [@flyInOut]>
<ul>
  <li>A ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>B ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>C ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>D ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>E ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>F ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>G ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>H ll ll ll ll ll ll ll ll ll ll ll lllll</li>
  <li>I ll ll ll ll ll ll ll ll ll ll ll lllll</li>
</ul>


</div>
