<div id="notification_header">
  <a (click)="toggle_window()">
    <span *ngIf="is_open">
      <img src="./assets/images/earth_blue.png">
    </span>

    <span *ngIf="!is_open">
      <img src="./assets/images/earth.png">
    </span>

    <span *ngIf="notification_arr.length >0">
      <span class="label label-danger notif_num">{{notification_arr.length}}</span>
    </span>

  </a>

  <div *ngIf="is_open" class="my_dropdown_menu">
    <ul class="notification_dropdown_context">
      <li class="header"> you have {{notification_arr.length}} notification</li>
      <li>
        <div>aaa
        </div>
      </li>
      <li class="footer" *ngIf="notification_arr.length > 10">
        view all
      </li>
    </ul>
  </div>
</div>