<p>
  introduction-layout works!
</p>
<app-motion [motion]="livevideo_obj.motion" [event_id]="event_id"></app-motion>


{{livevideo_obj.deb_style}}<br>

{{livevideo_obj | json}}<br>

team member {{team_members | json}}

<span [ngSwitch]="livevideo_obj.deb_style">

    <span *ngSwitchCase="STYLE_NA">
      <app-select-team 
        [team]="TEAM_GOV" 
        [event_id]="event_id" 
        [team_member]="team_members[TEAM_GOV]" 
        [video_data]="video_data"></app-select-team>
      <app-select-team 
        [team]="TEAM_OPP" 
        [event_id]="event_id" 
        [team_member]="team_members[TEAM_OPP]" 
        [video_data]="video_data"></app-select-team>
    </span>

    <span *ngSwitchCase="STYLE_ASIAN">
      <app-select-team [team]="TEAM_PROPOSITION" [event_id]="event_id"></app-select-team>
      <app-select-team [team]="TEAM_OPPOSITION" [event_id]="event_id"></app-select-team>
    </span>

    <span *ngSwitchCase="STYLE_BP">
      <app-select-team [team]="TEAM_OG" [event_id]="event_id"></app-select-team>
      <app-select-team [team]="TEAM_OO" [event_id]="event_id"></app-select-team>
      <app-select-team [team]="TEAM_CG" [event_id]="event_id"></app-select-team>
      <app-select-team [team]="TEAM_CO" [event_id]="event_id"></app-select-team>
    </span>

</span>




video data
{{video_data | json}}
<span *ngFor="let user_id of users_not_involved_team">
  <br>
  <span *ngIf="video_data[user_id]">

  -----------------begin--------------<br>
  {{user_id}}
    <app-user-video [video_src]="video_data[user_id]" [user_id]="user_id"></app-user-video>
  ------------------end ------------
  </span>
</span>
