

<div id="intro_team_selection">


    <span [ngSwitch]="deb_style">

      <span *ngSwitchCase="STYLE_NA">
        <div class="team_container">
          <div class="each_team">
            <app-select-team 
              [event_id]="event_id" 
              [team_name]="TEAM_GOV"
              [team_member]="participants_team[TEAM_GOV]" 
              [current_own_team]="current_own_team"
              [is_in_team_myself]="is_in_team_myself"
              [video_data]="video_data"
              [user_env]="user_env"
              [room_users]="room_users"></app-select-team>
          </div>
          <div class="each_team">
            <app-select-team 
              [event_id]="event_id" 
              [team_name]="TEAM_OPP"
              [team_member]="participants_team[TEAM_OPP]" 
              [current_own_team]="current_own_team"
              [is_in_team_myself]="is_in_team_myself"
              [video_data]="video_data"
              [user_env]="user_env"
              [room_users]="room_users"></app-select-team>
          </div>
        </div>
      </span>

      <span *ngSwitchCase="STYLE_ASIAN">
        <app-select-team [team_name]="TEAM_PROPOSITION" [event_id]="event_id"></app-select-team>
        <app-select-team [team_name]="TEAM_OPPOSITION" [event_id]="event_id"></app-select-team>
      </span>

      <span *ngSwitchCase="STYLE_BP">
        <app-select-team [team_name]="TEAM_OG" [event_id]="event_id"></app-select-team>
        <app-select-team [team_name]="TEAM_OO" [event_id]="event_id"></app-select-team>
        <app-select-team [team_name]="TEAM_CG" [event_id]="event_id"></app-select-team>
        <app-select-team [team_name]="TEAM_CO" [event_id]="event_id"></app-select-team>
      </span>
    </span>

</div>
<div id="intro_info">

    <div class="intro_info__panel">
      <app-motion [motion]="motion" [event_id]="event_id"></app-motion>

      <div>
        <span *ngFor="let user_id of users_not_involved_team">
          <app-user-video-icon [user_id]="user_id" 
                               [video_data]="video_data"
                               [user_env]="user_env"
                               [room_users]="room_users"></app-user-video-icon>
        </span>
      </div>

      <div class="intro_info__panel_under">
        <button type="button" (click)="start_preparation()">Start Preparation</button>
      </div>
    </div>
</div>

    <br>
    video data {{video_data | json}} <br>
    users_not_involved_team {{users_not_involved_team | json}} <br>