<div class="write-debate-container">
  <div class="debate_container">
  <p>
    written-debate works!
  </p>

  own_team {{own_team}}
  <br><br>
  event_data 
  <span >{{event_data | async | json}}</span>
  <br><br>
  written_debate_data
  <span >{{written_debate_data | json}}</span>
  <br><br>
  --------------combine-------------------
  <span *ngFor="let argument of (written_debate_data?.arg_status | keysInObject)">
    
    <br><br><br><br>
    argument_id:  {{argument.key}}<br>
    <app-argument
        [event_id]="event_id" 
        [argument_id]="argument.key" 
        [own_team]="own_team" 
        [partial_opinion]="written_debate_data.opinion[argument.key]" 
        [partial_arg_status] = "written_debate_data.arg_status[argument.key]"></app-argument>

  </span>

  </div>
  <div class="sentence_comment_container">
    <app-sentence-comment-container></app-sentence-comment-container>
  </div>
</div>