
<div class="onlinedebate-written_container" >

{{(event_obj_observable | async)?.title}}

  <div class="participate_declaration">
    <div>
      join as a proposition
    </div>
    <div>
      join as a opposition
    </div>
  </div>

  <div>
    <input type="button" (click)="join_as_proposition()" value="join_as_proposition">
    <input type="button" (click)="join_as_opposition()" value="join_as_opposition">
  </div>

  <div>
    <input type="button" (click)="add_opinion_prop()" value="add new argument for prop">
    <input type="button" (click)="add_opinion_opp()" value="add new argument for opposition">
  </div>
  <div>
    <input type="button" (click)="publish_to_public()" value="publish to public">
    
  </div>
</div>