<div id="livedebate_whole_container">
<div id="main_debate_container">

  <app-motion [motion]="motion" [event_id]="event_id"></app-motion>

  <p>
    livevideo-debate-container works!<br> 
    userid:  {{user_auth.own_user.id}}
    game_status {{game_status}}
  </p>

  {{livevideo_obj | json}}

  <span *ngIf="event_id">

  <span [ngSwitch]="game_status">
    <span *ngSwitchCase="STATUS_INTRO">
      intro
      <app-introduction-layout 
            [event_id]="event_id"
            [deb_style]="deb_style"
            [participants_team]="participants_team"
            [participants_type]="participants_type"
            [users_in_team]="users_in_team"
            [is_in_team_myself]="is_in_team_myself"
            [current_own_team]="current_own_team"
            [room_users]="room_users"
            [video_data]="video_data" ></app-introduction-layout>
    </span>
    <span *ngSwitchCase="STATUS_PREP">
      <app-preparation-layout
            [event_id]="event_id"
            [deb_style]="deb_style"
            [participants_team]="participants_team"
            [participants_type]="participants_type"
            [users_in_team]="users_in_team"
            [is_in_team_myself]="is_in_team_myself"
            [current_own_team]="current_own_team"
            [room_users]="room_users"
            [video_data]="video_data"
            [prep_start_time]="prep_start_time"
            [prep_duration]="prep_duration"></app-preparation-layout>
    </span>
    <span *ngSwitchCase="STATUS_DEBATE">
      <app-debate-layout
            [event_id]="event_id"
            [deb_style]="deb_style"
            [participants_team]="participants_team"
            [participants_type]="participants_type"
            [is_in_team_myself]="is_in_team_myself"
            [current_own_team]="current_own_team"
            [room_users]="room_users"
            [video_data]="video_data"
            [speech_status]="speech_status"
        ></app-debate-layout>
    </span>
    <span *ngSwitchCase="STATUS_REFLECTION">
      
      <app-reflection-layout
            [event_id]="event_id">
      </app-reflection-layout>

    </span>
  </span>

  </span>

</div>
<div id="right_side_debate_container">

  <app-chat-container
    [game_status]="game_status"
    [current_own_team]="current_own_team"
    [event_id]="event_id">
    </app-chat-container>

</div>
</div>