
<div class="opinion_container">

opinion_status {{opinion_status}}<br>

argument_team {{argument_team}}<br>
opinion_team {{opinion_team}}<br>
opinion_type {{opinion_type}}<br>
<span class="audio_container"></span>


<app-user-link-full-parallel [user_id]="writer" ></app-user-link-full-parallel>


<app-transcription [event_id] = "event_id"
                   [argument_id]="argument_id"
                   [opinion_id]="opinion_id"
                   [transcription_arr]="opinion.transcript"  ></app-transcription>

<app-written [event_id] = "event_id"
             [argument_id]="argument_id"
             [opinion_id]="opinion_id"
             [content_arr]="opinion.content_arr"
             [comment_sentence_written]="comment_sentence_written" ></app-written>


</div>

