

<app-arg-signpost [type]="type" ></app-arg-signpost>


<app-select-write-or-record 
    (onSelectRecording)="onSelectRecording()"
     (onSelectWriting)="onSelectWriting()">
     </app-select-write-or-record>

<app-record-transcript-container
    [event_id]="event_id"
    [team_name]="team_name"
    [arg_id]="arg_id"
    [opinion_id]="opinion_id"
    [type]="type">
    </app-record-transcript-container>



<app-write-opinion 
    [event_id]="event_id"
    [team_name]="team_name"
    [arg_id]="arg_id"
    [opinion_id]="opinion_id"
    [type]="type">
    </app-write-opinion>

