<div class="teama_container">
  <div class="team_name">{{team_name}}</div>


<span *ngIf="is_my_team">
  <input type="button" value="leave team" (click)="leave_team()">
</span>
<span *ngIf="!is_in_team && !is_my_team">
  <input type="button" value="join team" (click)="join_team()">
</span>

video_data {{video_data | json}}<br>

<span *ngFor="let member of (team_member | keysInObject)">
  <br>member id: {{member.key}}


  <span *ngIf="video_data[member.key]">
      <app-user-video [video_src]="video_data[member.key]" [user_id]="member.key"></app-user-video>
  </span>

</span>

</div>