<div class="teama_container">
  <div class="team_name">{{team_name}}</div>

<span *ngIf="show_leave_team">
  <input type="button" value="leave team" (click)="leave_team()">
</span>
<span *ngIf="show_join_team">
  <input type="button" value="join team" (click)="join_team()">
</span>
<span *ngIf="show_move_to_team">
  <input type="button" value="move team" (click)="move_team()">
</span>


<span *ngFor="let member of (team_member | keysInObject)">
  <!--
  <app-user-link [user_id]="member.key" [type]="'only_pict'" ></app-user-link>
  <span *ngIf="video_data[member.key]">
      <app-user-video [video_src]="video_data[member.key]" [user_id]="member.key"></app-user-video>
  </span>
  <app-user-link [user_id]="member.key" [type]="'only_short_name'" ></app-user-link>
-->

  <app-user-video-icon 
             [user_id]="member.key"
             [video_data]="video_data"
             [user_env]="user_env"></app-user-video-icon>

</span>

</div>