.teama_container{
    margin:5px;
    background-color:cornflowerblue;
    min-width:300px;
    min-height:100px;
}

.team_name{
    text-align:center;
    font-weight:bold;
    font-size:large;
    width:100%;
    margin:3px;
    background-color:lightslategray;
}