<span [ngSwitch]="debate_status">
  <span *ngSwitchCase="DEBATE_STATUS_WAITING">

    DEBATE_STATUS_WAITING<br>
    <div class="status_waiting_container">
      <!--
      <input type="button" (click)="speech_start()" value="{{Ïspeech_start_button_value}}">
      -->
    </div>
  </span>

  <span *ngSwitchCase="DEBATE_STATUS_SPEECH_MAIN_SPEAKER">
    <div class="status_speech_main_container">
      <div class="main_speaker_container">
        <app-user-video-icon 
             [user_id]="main_speaker_id"
             [video_data]="video_data"
             [user_env]="user_env"
             [room_users]="room_users"></app-user-video-icon>
      </div>
      <div class="poi_candidate_container">
        <app-poi-candidates
            [event_id]="event_id"
            [poi_candidates_id_arr]="poi_candidates_id_arr"
            [is_main_speaker_yourself]="is_main_speaker_yourself">
            </app-poi-candidates>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="DEBATE_STATUS_SPEECH_POI">

    DEBATE_STATUS_SPEECH_POI<br>
    <div class="status_speech_poi_container">
      <div class="poi_speaker_container">

        <!--
        {{poi_speaker_id}}
        <app-user-link [user_id]="poi_speaker_id" [type]="'full_parallel'">
      </app-user-link> -->

        <app-user-video-icon 
             [user_id]="poi_speaker_id"
             [video_data]="video_data"
             [user_env]="user_env"
             [room_users]="room_users"></app-user-video-icon>
      </div>
      <div class="main_speaker_poi_wait_container">
        <!--
        {{main_speaker_id}}
        <app-user-link [user_id]="main_speaker_id" [type]="'full_parallel'">
        </app-user-link>
        -->
        <app-user-video-icon 
             [user_id]="main_speaker_id"
             [video_data]="video_data"
             [user_env]="user_env"
             [room_users]="room_users"></app-user-video-icon>
      </div>
    </div>
  </span>
</span>
