<div id="left-column-menu-pc_container">



<div class="each_category">
  <p class="category_menu">Your Events / Tournament</p>
  <div class="category_Context">You do not join any event yet</div>
</div>


<div class="each_category">
  <p class="category_menu">Groups</p>
  <div class="category_Context">You do not join any group yet</div>
</div>

<div class="each_category">
  <p class="category_menu">Favorite Article</p>
  <div class="category_Context">You do have favorite article yet</div>
</div>

<div>
  logout
<div>

</div>