<div class="team_member_container">
  <div class="each_team">
    proposition

    <span *ngFor="let member of proposition_members | keysInObject">
      <app-user-link 
            [user_id]="member.key" 
            [type]="'only_pict'" >
      </app-user-link>
    </span>

  </div>
  <div class="each_team">
    opposition

    <span *ngFor="let member of opposition_members | keysInObject">
      <app-user-link 
            [user_id]="member.key" 
            [type]="'only_pict'" >
      </app-user-link>
    </span>


  </div>
</div>