
<div bsModal #event_create_modal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EventCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Create Debate Event</h4>

      </div>
      <div class="modal-body">
        <div class="input_area" [hidden]="submitted">
          <form #event_form="ngForm"  (ngSubmit)="onSubmit()" autocomplete="off" novalidate>

            <div class="event_data_container">

              <div class="event_data_row">
                <div class="event_data_name">
                    title
                </div>
                <div class="event_data_input">
                  <input name="title" class="title_input" type="text" placeholder="event title" [(ngModel)]="event_obj.title" required  >
                </div>
              </div>

              <div class="event_data_row">
                <div class="event_data_name">
                  date
                </div>
                <div class="event_data_input">
                  <datepicker name="date" [(ngModel)]="event_obj.event_date" [minDate]="event_obj.minDate" [showWeeks]="true"></datepicker>
                </div>
              </div>

              <div class="event_data_row">
                <div class="event_data_name">
                  time
                </div>
                <div class="event_data_input">
                  <timepicker name="time" [(ngModel)]="event_obj.event_time" [hourStep]="1"  [minuteStep]="15" ></timepicker>
                </div>
              </div>

            </div>

            <div class="debug">
              <p>form_value</p>
              {{event_obj | json}}
            </div>

            <p>
              <input class="btn btn-block btn-success" [disabled]="!event_form.valid" type="submit" value="submit" >
            </p>
          </form>

        </div>
        <div class="confirm_area" [hidden]="!submitted">

           <div class="event_data_container">

              <div class="event_data_row">
                <div class="event_data_name">
                    title
                </div>
                <div class="event_data_input">
                  {{event_obj.title}}
                </div>
              </div>

              <div class="event_data_row">
                <div class="event_data_name">
                  date and time
                </div>
                <div class="event_data_input">
                  {{event_obj.event_date_time | date:'y MMMM dd(EEEE) - hh:mm   - Z' }}
                </div>
              </div>

              <p>
                <input  type="button" (click)="fix_data()" value="fix" >
                <input  type="button" (click)="save_data()" value="save" >
              </p>

           </div>
      </div>
    </div>
  </div>
</div>

