
<section class="p-vote l-container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <h2 class="p-vote__heading">vote</h2>
            <div class="row">
                <div class="col-sm-4 p-vote__group is-prop">
                    <span class="p-vote__percentage">40%</span>
                    <button type="button" class="btn is-inverse is-prop is-small">
                        <i class="fa fa-heart p-vote__btn-icon" aria-hidden="true"></i>40&nbsp;Prop
                    </button>
                </div>

                <div class="col-sm-4">
                    <div class="circle">
                        <img src="">
                    </div>
                </div>

                <div class="col-sm-4 p-vote__group is-opp">
                    <span class="p-vote__percentage">60%</span>
                    <button type="button" class="btn is-inverse is-opp is-small">
                        <i class="fa fa-heart p-vote__btn-icon" aria-hidden="true"></i>60&nbsp;Opp
                    </button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="p-vote__comment">
                <div class="c-comment">
                    <div class="c-like c-comment__like">
                        <a href="" class="c-like__item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 1</a>
                        <a href="" class="c-like__item"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 1</a>
                    </div>

                    <img src="http://lorempixel.com/150/150" alt="" class="c-comment__icon c-icon">
                    <span class="c-comment__name">test</span>

                    <p class="c-comment__body">
                        <span class="c-badge is-prop"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Prop</span>
                        <br>
                        some text. some text.some text.some text.some text.some text.some text.some text. some text.some text.some text.some text.some text.some text.some text. some text.some text.some text.some text.some text.some text.some text. some text.some text.some text.some text.some text.some text.
                        <br>
                        some text. some text.some text.some text.some text.some text.some text.
                    </p>
                </div>
                <!--/.c-comment-->

                <div class="c-comment">
                    <div class="c-like c-comment__like">
                        <a href="" class="c-like__item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 1</a>
                        <a href="" class="c-like__item"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 1</a>
                    </div>

                    <img src="http://lorempixel.com/150/150" alt="" class="c-comment__icon c-icon">
                    <span class="c-comment__name">test</span>

                    <p class="c-comment__body">
                        <span class="c-badge is-opp"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Opp</span>
                        <br>
                        some text. some text.some text.some text.some text.some text.some text.some text. some text.some text.some text.some text.some text.some text.some text. some text.some text.some text.some text.some text.some text.some text. some text.some text.some text.some text.some text.some text.
                        <br>
                        some text. some text.some text.some text.some text.some text.some text.
                    </p>
                </div>
                <!--/.c-comment-->
            </div>
            <!-- /.p-vote__comment -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!--/.p-vote-->