<div class="argument_container">

  <div [ngClass]="{'prop_arg':is_arg_prop, 'opp_arg': is_arg_opp}" >

    <p class="sign_post">
    sign_post: {{partial_opinion[main_status.opinion_id].sign_post}}
    </p>

    <p class="argument_team">
        argument_team {{argument_team}}
    </p>

     <br><br>main_status {{main_status | json}}
  </div>


  <app-opinion 
      [event_id] = "event_id"
      [argument_id]="argument_id"
      [opinion_id]="main_status.opinion_id"
      [opinion]="partial_opinion[main_status.opinion_id]"
      [opinion_status]="main_status.status"
      [argument_team]="argument_team"
      [opinion_team]="main_status.team_name"
      [comment_sentence_written]="comment_sentence_written[main_status.opinion_id]"
      [comment_sentence_transcript]="comment_sentence_transcript[main_status.opinion_id]"
      [category]="CATEGORY_MAIN"
      [subsequent_id]=null
      [own_team]=own_team
      >
      </app-opinion>

  <span *ngFor="let subsequent_status_arr of subsequent_status | keysInObject">
    <br><br>
    <app-opinion 
      [event_id] = "event_id"
      [argument_id]="argument_id"
      [opinion_id]="subsequent_status_arr.value.opinion_id" 
      [opinion]="partial_opinion[subsequent_status_arr.value.opinion_id]"
      [opinion_status]="subsequent_status[subsequent_status_arr.key].status"
      [argument_team]="argument_team"
      [opinion_team]="subsequent_status[subsequent_status_arr.key].team_name"
      [comment_sentence_written]="comment_sentence_written[subsequent_status_arr.value.opinion_id]"
      [comment_sentence_transcript]="comment_sentence_transcript[subsequent_status_arr.value.opinion_id]"
      [category]="CATEGORY_SUBSEQUENT"
      [subsequent_id]="subsequent_status_arr.key"
      [own_team]=own_team >
      </app-opinion>

  </span>

  <input type="button" value="add new argument"  (click)="add_new_argument()">

</div>