.argument_container{
    border: medium solid #ff00ff;
    margin:5px;
}

.prop_arg{
    background-color:green;
    .sign_post{
        text-align:left;
        font-weight:bold;
    }
    
}

.opp_arg{
    background-color:red;
    .sign_post{
        text-align:right;
        font-weight:bold;
    }
}
