<div class="argument_container">
  <p>
     <br><br>main_status {{main_status | json}}
  </p>

  sign_post: {{partial_opinion[main_status.opinion_id].sign_post}}

  <app-opinion 
      [event_id] = "event_id"
      [argument_id]="argument_id"
      [opinion_id]="main_status.opinion_id"
      [opinion]="partial_opinion[main_status.opinion_id]"
      [opinion_status]="main_status.status"
      [argument_team]="argument_team"
      [opinion_team]="main_status.team_name"
      [comment_sentence_written]="comment_sentence_written[main_status.opinion_id]"
      >
      </app-opinion>

  <span *ngFor="let subsequent_status_arr of subsequent_status | keysInObject">
    <br><br>
    <app-opinion 
      [event_id] = "event_id"
      [argument_id]="argument_id"
      [opinion_id]="subsequent_status_arr.value.opinion_id" 
      [opinion]="partial_opinion[subsequent_status_arr.value.opinion_id]"
      [opinion_status]="subsequent_status[subsequent_status_arr.key].status"
      [argument_team]="argument_team"
      [opinion_team]="subsequent_status[subsequent_status_arr.key].team_name"
      [comment_sentence_written]="comment_sentence_written[subsequent_status_arr.value.opinion_id]" >
      </app-opinion>

  </span>

  <input type="button" value="add new argument"  (click)="add_new_argument()">

</div>